<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT clubs ANY>
<!ATTLIST clubs id ID #REQUIRED>
<!ELEMENT club ANY>
<!ATTLIST club id ID #REQUIRED>
<!ELEMENT teams ANY>
<!ATTLIST teams id ID #REQUIRED>
<!ELEMENT team ANY>
<!ATTLIST team id ID #REQUIRED>
<!ELEMENT players ANY>
<!ATTLIST players id ID #REQUIRED>
<!ELEMENT player ANY>
<!ATTLIST player id ID #REQUIRED>
<!ELEMENT matches ANY>
<!ATTLIST matches id ID #REQUIRED>
<!ELEMENT match ANY>
<!ATTLIST match id ID #REQUIRED>
<!ELEMENT sponsors ANY>
<!ATTLIST sponsors id ID #REQUIRED>
<!ELEMENT sponsor ANY>
<!ATTLIST sponsor id ID #REQUIRED>
<!ELEMENT votes ANY>
<!ATTLIST votes id ID #REQUIRED>
<!ELEMENT vote ANY>
<!ATTLIST vote id ID #REQUIRED>
]>
<root id="-1">
  <clubs id="1071" key="5b622a23-cd83-428e-ad0f-4454dbbf09f9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-10T18:05:25" updateDate="2018-05-11T13:54:04" nodeName="Root League" urlName="root-league" path="-1,1071" isDoc="" nodeType="1051" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="clubs" isPublished="true">
    <club id="1072" key="ded7946e-0860-471e-a37e-b2d8a63f1172" parentID="1071" level="2" creatorID="0" sortOrder="0" createDate="2018-05-10T18:06:59" updateDate="2018-05-11T13:52:44" nodeName="Example FC" urlName="example-fc" path="-1,1071,1072" isDoc="" nodeType="1054" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="club" isPublished="true">
      <clubTitle><![CDATA[Example FC]]></clubTitle>
      <clubDescription><![CDATA[This club (Example FC) is a test]]></clubDescription>
      <teams id="1073" key="95a1a590-7991-40de-a482-b5aa5f1d3e6f" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2018-05-10T18:07:13" updateDate="2018-05-10T18:07:13" nodeName="Example FC teams" urlName="example-fc-teams" path="-1,1071,1072,1073" isDoc="" nodeType="1055" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="teams" isPublished="true">
        <team id="1074" key="1168841d-e348-4b69-be99-35625b818f93" parentID="1073" level="4" creatorID="0" sortOrder="0" createDate="2018-05-10T18:07:48" updateDate="2018-05-10T18:07:48" nodeName="Youth team" urlName="youth-team" path="-1,1071,1072,1073,1074" isDoc="" nodeType="1058" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[Youth Team]]></teamName>
          <teamDescription><![CDATA[Here the little children play from the ages 6 to 12]]></teamDescription>
          <matches id="1075" key="96427098-f58f-4266-93a4-f6f4cdec7467" parentID="1074" level="5" creatorID="0" sortOrder="0" createDate="2018-05-10T18:09:02" updateDate="2018-05-11T13:41:51" nodeName="Youth team matches" urlName="youth-team-matches" path="-1,1071,1072,1073,1074,1075" isDoc="" nodeType="1064" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="matches" isPublished="true" />
          <players id="1076" key="a0fc70fa-7b70-4ee7-9a16-0d5c43109cba" parentID="1074" level="5" creatorID="0" sortOrder="1" createDate="2018-05-10T18:09:16" updateDate="2018-05-11T13:41:58" nodeName="Youth team players" urlName="youth-team-players" path="-1,1071,1072,1073,1074,1076" isDoc="" nodeType="1059" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
            <player id="1078" key="8c5afc76-4f11-4141-a13d-e41e0fd4598b" parentID="1076" level="6" creatorID="0" sortOrder="0" createDate="2018-05-10T18:11:11" updateDate="2018-05-10T18:11:11" nodeName="James Kennedy" urlName="james-kennedy" path="-1,1071,1072,1073,1074,1076,1078" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[James]]></firstName>
              <lastName><![CDATA[Kennedy]]></lastName>
              <jerseyNumber>23</jerseyNumber>
            </player>
            <player id="1079" key="aaa056e9-e6dc-4c6d-a573-282bc204a0ad" parentID="1076" level="6" creatorID="0" sortOrder="1" createDate="2018-05-10T18:11:30" updateDate="2018-05-10T18:11:30" nodeName="Mike Jones" urlName="mike-jones" path="-1,1071,1072,1073,1074,1076,1079" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Mike]]></firstName>
              <lastName><![CDATA[Jones]]></lastName>
              <jerseyNumber>45</jerseyNumber>
            </player>
            <player id="1080" key="5d829150-9029-415d-9333-99c90446305a" parentID="1076" level="6" creatorID="0" sortOrder="2" createDate="2018-05-10T18:11:45" updateDate="2018-05-10T18:11:45" nodeName="Nate Florian" urlName="nate-florian" path="-1,1071,1072,1073,1074,1076,1080" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Nate]]></firstName>
              <lastName><![CDATA[Florian]]></lastName>
              <jerseyNumber>22</jerseyNumber>
            </player>
            <player id="1081" key="42d86ab2-db9e-46b2-89e7-4eaa70b56c93" parentID="1076" level="6" creatorID="0" sortOrder="3" createDate="2018-05-10T18:12:28" updateDate="2018-05-10T18:12:28" nodeName="Stan Mathers" urlName="stan-mathers" path="-1,1071,1072,1073,1074,1076,1081" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Stan]]></firstName>
              <lastName><![CDATA[Mathers]]></lastName>
              <jerseyNumber>94</jerseyNumber>
            </player>
          </players>
        </team>
        <team id="1095" key="9548a5f0-f5b8-48e7-8c32-bc414e209375" parentID="1073" level="4" creatorID="0" sortOrder="1" createDate="2018-05-11T14:07:31" updateDate="2018-05-11T14:07:31" nodeName="Mens Team" urlName="mens-team" path="-1,1071,1072,1073,1095" isDoc="" nodeType="1058" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[Mens Team]]></teamName>
          <teamDescription><![CDATA[Men of 18+ ]]></teamDescription>
          <matches id="1096" key="95206325-3bcd-4869-b50b-b8adc925bc17" parentID="1095" level="5" creatorID="0" sortOrder="0" createDate="2018-05-11T14:08:17" updateDate="2018-05-11T14:09:05" nodeName="Example FC mens matches" urlName="example-fc-mens-matches" path="-1,1071,1072,1073,1095,1096" isDoc="" nodeType="1064" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1098" key="ca87191c-417a-4cc2-aa1f-f1c23300f8a1" parentID="1096" level="6" creatorID="0" sortOrder="0" createDate="2018-05-11T14:11:52" updateDate="2018-05-11T18:20:06" nodeName="Example FC against OB" urlName="example-fc-against-ob" path="-1,1071,1072,1073,1095,1096,1098" isDoc="" nodeType="1069" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchStart>2018-05-16T14:10:32</matchStart>
              <matchLocation><![CDATA[Odense Stadion]]></matchLocation>
              <matchOpponent><![CDATA[umb://document/f73dfe40315845e995c78960d68baf83]]></matchOpponent>
              <matchSponsors><![CDATA[umb://document/cd98383d42f6494bb8904efe3ae89acc]]></matchSponsors>
            </match>
            <match id="1134" key="26162d6d-70a3-4c07-a9c0-f912ee246f03" parentID="1096" level="6" creatorID="0" sortOrder="1" createDate="2018-05-11T18:47:59" updateDate="2018-05-11T18:47:59" nodeName="Internal training - opponent or sponsor" urlName="internal-training-opponent-or-sponsor" path="-1,1071,1072,1073,1095,1096,1134" isDoc="" nodeType="1069" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchStart>2018-05-17T18:47:37</matchStart>
              <matchLocation><![CDATA[Odense 5000
Stadionvej]]></matchLocation>
            </match>
          </matches>
          <players id="1097" key="c5a68538-09a5-43d6-b803-9a5b6cef4a16" parentID="1095" level="5" creatorID="0" sortOrder="1" createDate="2018-05-11T14:09:36" updateDate="2018-05-11T14:09:36" nodeName="Example FC Mens players" urlName="example-fc-mens-players" path="-1,1071,1072,1073,1095,1097" isDoc="" nodeType="1059" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
            <player id="1118" key="e6d54b1e-7d01-4f4d-bc6a-7fe860fe6299" parentID="1097" level="6" creatorID="0" sortOrder="0" createDate="2018-05-11T14:51:22" updateDate="2018-05-11T14:51:22" nodeName="Niels Nielsen" urlName="niels-nielsen" path="-1,1071,1072,1073,1095,1097,1118" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Niels]]></firstName>
              <lastName><![CDATA[Nielsen]]></lastName>
              <jerseyNumber>11</jerseyNumber>
            </player>
            <player id="1119" key="76506d4e-1a0c-4a87-8134-99b2bd90a387" parentID="1097" level="6" creatorID="0" sortOrder="1" createDate="2018-05-11T14:52:41" updateDate="2018-05-11T14:52:41" nodeName="Jens Jensen" urlName="jens-jensen" path="-1,1071,1072,1073,1095,1097,1119" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Jens]]></firstName>
              <lastName><![CDATA[Jensen]]></lastName>
              <jerseyNumber>12</jerseyNumber>
            </player>
            <player id="1120" key="07dc888c-af01-4c91-85d2-1f108d0f1b64" parentID="1097" level="6" creatorID="0" sortOrder="2" createDate="2018-05-11T14:53:43" updateDate="2018-05-11T21:14:30" nodeName="Kristian Kristensen" urlName="kristian-kristensen" path="-1,1071,1072,1073,1095,1097,1120" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Kristian]]></firstName>
              <lastName><![CDATA[Kristensen]]></lastName>
              <jerseyNumber>13</jerseyNumber>
              <playerImage><![CDATA[umb://media/0e1fff946ee34e5698d08fd50b674f37]]></playerImage>
            </player>
          </players>
        </team>
      </teams>
    </club>
    <club id="1093" key="1a4146c2-1abd-49c9-aeb6-5246b96231e8" parentID="1071" level="2" creatorID="0" sortOrder="1" createDate="2018-05-11T13:53:54" updateDate="2018-05-11T13:54:50" nodeName="Odense Boldklub" urlName="odense-boldklub" path="-1,1071,1093" isDoc="" nodeType="1054" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="club" isPublished="true">
      <clubTitle><![CDATA[Odense Boldklub]]></clubTitle>
      <clubDescription><![CDATA[This club (Odense Boldklub) is located in Odense]]></clubDescription>
      <teams id="1121" key="87a2c88b-3eb3-415d-9dcb-42219d3ea8c4" parentID="1093" level="3" creatorID="0" sortOrder="0" createDate="2018-05-11T14:54:12" updateDate="2018-05-11T14:54:12" nodeName="Odense Boldklub teams" urlName="odense-boldklub-teams" path="-1,1071,1093,1121" isDoc="" nodeType="1055" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="teams" isPublished="true">
        <team id="1122" key="f73dfe40-3158-45e9-95c7-8960d68baf83" parentID="1121" level="4" creatorID="0" sortOrder="0" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T14:58:16" nodeName="Mens Team" urlName="mens-team" path="-1,1071,1093,1121,1122" isDoc="" nodeType="1058" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[Mens Team]]></teamName>
          <teamDescription><![CDATA[Men of 18+ ]]></teamDescription>
          <matches id="1123" key="d903c349-a116-488a-bba7-905f5bcebd86" parentID="1122" level="5" creatorID="0" sortOrder="0" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T15:03:07" nodeName="Odense Boldklub mens matches" urlName="odense-boldklub-mens-matches" path="-1,1071,1093,1121,1122,1123" isDoc="" nodeType="1064" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1124" key="9b9c392c-09c7-4c8c-8cfb-a82f68efa02d" parentID="1123" level="6" creatorID="0" sortOrder="0" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T15:01:13" nodeName="OB against Example FC" urlName="ob-against-example-fc" path="-1,1071,1093,1121,1122,1123,1124" isDoc="" nodeType="1069" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchStart>2018-05-16T14:10:32</matchStart>
              <matchLocation><![CDATA[Odense Stadion]]></matchLocation>
              <matchOpponent><![CDATA[umb://document/9548a5f0f5b848e78c32bc414e209375]]></matchOpponent>
            </match>
          </matches>
          <players id="1125" key="2d86eeaa-7a0c-490f-94d7-58e71ba6ba3c" parentID="1122" level="5" creatorID="0" sortOrder="1" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T15:02:00" nodeName="Odense Boldklubs Mens players" urlName="odense-boldklubs-mens-players" path="-1,1071,1093,1121,1122,1125" isDoc="" nodeType="1059" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
            <player id="1126" key="fa713661-39f5-4514-adca-e8891867cafd" parentID="1125" level="6" creatorID="0" sortOrder="0" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T15:02:09" nodeName="Niels Nielsen" urlName="niels-nielsen" path="-1,1071,1093,1121,1122,1125,1126" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Niels]]></firstName>
              <lastName><![CDATA[Nielsen]]></lastName>
              <jerseyNumber>15</jerseyNumber>
            </player>
            <player id="1127" key="5343d9b2-d844-4729-af97-cf4f2caf58b3" parentID="1125" level="6" creatorID="0" sortOrder="1" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T15:02:42" nodeName="Jens Jensen" urlName="jens-jensen" path="-1,1071,1093,1121,1122,1125,1127" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Jens]]></firstName>
              <lastName><![CDATA[Jensen]]></lastName>
              <jerseyNumber>7</jerseyNumber>
            </player>
            <player id="1128" key="d2474ef3-54df-4fae-bc83-925945c8d7a5" parentID="1125" level="6" creatorID="0" sortOrder="2" createDate="2018-05-11T14:57:03" updateDate="2018-05-11T15:02:28" nodeName="Kristian Kristensen" urlName="kristian-kristensen" path="-1,1071,1093,1121,1122,1125,1128" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Kristian]]></firstName>
              <lastName><![CDATA[Kristensen]]></lastName>
              <jerseyNumber>9</jerseyNumber>
            </player>
          </players>
        </team>
      </teams>
    </club>
    <club id="1141" key="ab7f3cd0-dd77-4dca-b2c3-bff30556b763" parentID="1071" level="2" creatorID="0" sortOrder="2" createDate="2018-05-12T15:43:46" updateDate="2018-05-12T15:43:50" nodeName="Odense Boldklub (1)" urlName="odense-boldklub-1" path="-1,1071,1141" isDoc="" nodeType="1054" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="club" isPublished="true">
      <clubTitle><![CDATA[Odense Boldklub]]></clubTitle>
      <clubDescription><![CDATA[This club (Odense Boldklub) is located in Odense]]></clubDescription>
    </club>
  </clubs>
  <votes id="1116" key="9005d84c-a6d7-43d7-a5fc-4ea494aa9b5d" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-05-11T14:48:08" updateDate="2018-05-11T14:48:08" nodeName="Root League Votes" urlName="root-league-votes" path="-1,1116" isDoc="" nodeType="1110" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1109" nodeTypeAlias="votes" isPublished="true">
    <vote id="1136" key="05caf297-e5b6-43b8-9bd3-1e280716b71d" parentID="1116" level="2" creatorID="0" sortOrder="0" createDate="2018-05-12T00:53:27" updateDate="2018-05-12T00:53:27" nodeName="api entry ticket for match: 1, by: 1" urlName="api-entry-ticket-for-match-1-by-1" path="-1,1116,1136" isDoc="" nodeType="1115" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1114" nodeTypeAlias="vote" isPublished="true">
      <iMEI>1</iMEI>
      <matchID>1</matchID>
      <playerID>1</playerID>
    </vote>
    <vote id="1137" key="320554b0-ae4b-4f52-8103-99c108eb00da" parentID="1116" level="2" creatorID="0" sortOrder="1" createDate="2018-05-12T11:58:28" updateDate="2018-05-12T11:58:28" nodeName="api entry ticket for match: 2, by: 2" urlName="api-entry-ticket-for-match-2-by-2" path="-1,1116,1137" isDoc="" nodeType="1115" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1114" nodeTypeAlias="vote" isPublished="true">
      <iMEI>2</iMEI>
      <matchID>2</matchID>
      <playerID>1</playerID>
    </vote>
    <vote id="1138" key="79923bd5-80ec-432b-8c13-ee022ddeba74" parentID="1116" level="2" creatorID="0" sortOrder="2" createDate="2018-05-12T15:10:00" updateDate="2018-05-12T15:10:00" nodeName="api entry ticket for match: 1098, by: 2" urlName="api-entry-ticket-for-match-1098-by-2" path="-1,1116,1138" isDoc="" nodeType="1115" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1114" nodeTypeAlias="vote" isPublished="true">
      <iMEI>2</iMEI>
      <matchID>1098</matchID>
      <playerID>1118</playerID>
    </vote>
    <vote id="1139" key="7ae292e5-a8cf-46a3-85cb-5c619a58ae11" parentID="1116" level="2" creatorID="0" sortOrder="3" createDate="2018-05-12T15:21:45" updateDate="2018-05-12T15:21:45" nodeName="api entry ticket for match: 1098, by: 3" urlName="api-entry-ticket-for-match-1098-by-3" path="-1,1116,1139" isDoc="" nodeType="1115" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1114" nodeTypeAlias="vote" isPublished="true">
      <iMEI>3</iMEI>
      <matchID>1098</matchID>
      <playerID>1118</playerID>
    </vote>
    <vote id="1140" key="909fd8fe-216c-4751-81a6-47f587ae22dd" parentID="1116" level="2" creatorID="0" sortOrder="4" createDate="2018-05-12T15:36:27" updateDate="2018-05-12T15:36:27" nodeName="api entry ticket for match: 1098, by: 4" urlName="api-entry-ticket-for-match-1098-by-4" path="-1,1116,1140" isDoc="" nodeType="1115" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1114" nodeTypeAlias="vote" isPublished="true">
      <iMEI>4</iMEI>
      <matchID>1098</matchID>
      <playerID>1118</playerID>
    </vote>
  </votes>
  <sponsors id="1117" key="76c31a90-9955-4aa2-bdd7-477ef6b6895f" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-05-11T14:48:41" updateDate="2018-05-11T14:49:05" nodeName="Root League Sponsors" urlName="root-league-sponsors" path="-1,1117" isDoc="" nodeType="1100" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1099" nodeTypeAlias="sponsors" isPublished="true">
    <sponsor id="1133" key="cd98383d-42f6-494b-b890-4efe3ae89acc" parentID="1117" level="2" creatorID="0" sortOrder="0" createDate="2018-05-11T16:59:52" updateDate="2018-05-11T16:59:52" nodeName="Redbull" urlName="redbull" path="-1,1117,1133" isDoc="" nodeType="1106" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="1105" nodeTypeAlias="sponsor" isPublished="true">
      <sponsorName><![CDATA[Redbull]]></sponsorName>
      <logo><![CDATA[umb://media/f5b7ecfb757f43de93647b77ae077d8f]]></logo>
    </sponsor>
  </sponsors>
</root>